*{
  box-sizing: border-box;
}

body{
  font-family: 'Lato' !important;
  background-color: #000000;
}

/* body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  font-family: 'Lato' !important;
} */



#flexContainer{
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 160%;
  font-weight: bold;
  color: #ffffff;
}

#container {
  display: flex;  
}

#left {
  width:  40%;
}
#right {
  width: 60%;
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#energy {
  height: 50%;
  position: relative;
}


/*For Search Bar*/
#searchDiv, #frequentDestination{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}

#searchDiv .fa{
  font-size:40px;
  color:#ffffff;
}

#frequentDestination p, #right #btn, #btn2{
  border-style: none;
  padding: 5px;
  font-size: 12px;
  letter-spacing: 1.5px;
  outline: none;
  background-color: #ffffff;
  border-radius: 5px;
  color:#000000;
  margin: 2px;
}

#destination{
  width: 75%;
  height: 50px;  
  border-style: none;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  /* border: 1px solid #ffffff; */
  color:#000000;
  margin: 20px;
}

#destination::placeholder{
  color:rgba(0, 0, 0, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;  
}

/*Suggestion*/
#suggestions{
  /* color:#ffffff; */
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9;
  position: absolute; 
  margin-left: 80px;
  margin-top: 5px; 
  font-size: 18px;
  letter-spacing: 2px;
}

#searchDiv a:hover, #suggestions:hover, #frequentDestination p:hover{
  cursor: pointer;
}

/*Map Window*/
#mapFrame{
  /* display: none; */
  border: none;
  padding: 60px;
  width: 100%;
  height: 100%
}
#mapFrame .directions-info{
  display: none !important;
}

#directionsPanel .adp-warnbox,#directionsPanel .adp-agencies{
  display: none;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}


#energy, #smartMeterFrame{
  display: none;
  padding-top: 70px;
  padding-left: 130px;
  border: none;
  width: 900px;
  height: 500px;
}


/* Analog Clock */
#clockDiv{
  display: block;  
  display: none;  
  margin-top: 20px;
  margin-bottom: 160px;
  color: #000000;
}
#splitDiv{
  text-align: center;
  
}
#splitDiv span{
  display: inline-block;
  padding-left: 38%;
  font-size: 300%;
}
#clockContainer {
  display: inline-block;
  position: relative;
  margin: auto;
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 3px solid #ffffff;
  /* background: url(clock.gif) ; */
}


#hour, #minute, #second, #in_hour, #in_minute, #in_second {
  position: absolute;
  background: #ffffff;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour, #in_hour {
  width: 2%;
  height: 35%;
  top: 14%;
  left: 48.85%;
  opacity: 1;
}
#minute, #in_minute {
  width: 1.6%;
  height: 40%;
  top: 9%;
  left: 48.9%;
  opacity: 0.9;
}
#second, #in_second {
  width: 1%;
  height: 45%;
  top: 4%;
  left: 49.25%;
  opacity: 0.4;
}

/* Analog Clock */


/* Nearest Departures */

#nearestDepartures{
padding-top: 10%;
padding-left: 30%;
color: #ffffff;
}

#bus1, #bus2, #bus3, #bus4{
  display: flex;
  padding: 0.5%;
  font-size: 120%;
  /* flex-direction: column; */
}

#busNum{
  width: 7%;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  padding: 1%;
  background-color: #0a295d;
}
#busName{
  width: 30%;
  /* font-weight: bold; */
  color: #ffffff;
  padding: 1%;  
}
#busTime{
  width: 12%;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  padding: 1%;  
}
#busTime2{
  width: 12%;
  font-weight: bold;
  color: #888787;
  border-radius: 5px;
  padding: 1%;  
}


/* Nearest Departures */